body {
  background-color:lightgrey;
}

h1 {
  color:brown;
}

article {
  border: 1px solid #999;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  background-color: whitesmoke;
  width: 20rem;
  position: relative;
  box-shadow: 10px 10px #333;
}

article p {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
  line-height: 1.4;
}

button {
  background-color:coral;
  border: none;
  padding: 1rem;
  height: 50px;
  width: 150px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  box-shadow: 2px 2px #333;
}

.price {
  font-size: 1.4rem;
  font-weight: 600;
}

.price s {
  font-size: 1rem;
  color: brown;
}